* {
	margin: 1;
	padding: 0;
	box-sizing: border-box;
	font-family: "Noto Sans TC", sans-serif;
}

body {
	background: rgb(217, 215, 215);
}

header {
	height: 20vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.myPhoto_image {
		margin: 0rem 0rem 0rem 3rem;
		border-radius: 50%;
		width: 8.5rem;
		height: 8.5rem;
		transform: translate(-10%);
	}

	.headH1 {
		text-align: center;
	}

	.icon {
		img {
			margin: 1rem;
			height: 5rem;
			width: 5rem;
		}
	}
}

hr {
	height: 3px;
	border-width: 0;
	color: gray;
	background-color: gray;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	h2 {
		margin: 0.2rem 1rem;
	}
	p {
		margin: 0.5rem 0rem;
		padding: 0.5rem 0.5rem;
		font-weight: bold;
		border: 3px solid #333333;
		border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;

		&:hover {
			background-color: #bbe9f7;
			transition: all 0.5s;
		}
	}
	.pList {
		margin: 0.5rem 0rem;
		border: 3px solid #333333;
		border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
		p {
			border: none;
			margin: 0;
			padding: 0rem 0.5rem;
			padding: 0.5rem 0.5rem;
		}
		ol {
			margin: 0.5rem 1.5rem;
			padding: 0rem 0.5rem;
			li {
				margin: 0.5rem 0rem;
				font-weight: bold;
			}
		}
		&:hover {
			background-color: #bbe9f7;
			transition: all 0.5s;
		}
	}
	.myBook {
		margin: 1rem 0 0 2rem;
		height: 200px;
		width: 200px;
		display: inline-block;
		// margin-top: 30px;
		border: 1px solid rgb(0, 0, 0);
		box-shadow: 0px 0px 10px 0px black;
		transition: all 0.8s;
		&:hover {
			transform: scale(1.05);
		}
	}
	.Notion {
		width: 3rem;
		height: 3rem;
	}
}

// width 600px
@media only screen and (max-width: 600px) {
	header {
		height: 13vh;
		.myPhoto_image {
			margin: 0rem 0rem 0rem 2rem;
			border-radius: 50%;
			width: 3.5rem;
			height: 3.5rem;
			transform: translate(-10%);
		}
		.headH1 {
			font-size: 0.5rem;
		}
		.icon {
			img {
				height: 10vw;
				width: 10vw;
				margin: 0;
			}
		}
	}

	main {
		h2 {
			margin: 0;
			font-size: 1.2rem;
		}
		p {
			border: 2px solid rgb(0, 0, 0);
			margin: 0.5rem 0rem;
			padding: 0.5rem 0.5rem;
			font-weight: bold;
			border-radius: 5px;
			font-size: 0.8rem;
			&:hover {
				background-color: #b3e6f6;
				transition: all 1s;
			}
		}
		.pList {
			margin: 0.5rem 0rem;
			border: 2px solid rgb(0, 0, 0);
			border-radius: 5px;
			p {
				border: none;
				margin: 0;
				padding: 0.5rem 0.5rem;
				font-size: 0.8rem;
			}
			ol {
				margin: 0.5rem 1.5rem;
				padding: 0rem 0.5rem;
				font-size: 0.8rem;
				li {
					font-weight: bold;
					margin: 0.5rem 0rem;
				}
			}
			&:hover {
				background-color: #b3e6f6;
				transition: all 0.5s;
			}
		}
	}
}
